/.git
/.deployed_cache
/.yolk_git

**/sway/input
**/sway/outputs
**/sway/workspaces

**/zsh/antidote/
**/zsh/.zsh_plugins.zsh

**/obsidian/*
!**/obsidian/user-flags.conf

**/nwg-panel/*
!**/nwg-panel/config
!**/nwg-panel/style.css
!**/nwg-panel/common-settings.json

**/helix/runtimes/

**/__pycache__/
**/.ruff_cache/
