**/sway/input
**/sway/outputs
**/sway/workspaces

**/wpg/samples
**/wpg/schemes
**/wpg/templates
**/wpg/wallpapers
**/wpg/.current

**/zsh/antidote/
**/zsh/.zsh_plugins.zsh

**/gtk-3.0/bookmarks

**/cava/shaders
**/cmus/lib.pl

**/obsidian/*
!**/obsidian/user-flags.conf

**/nwg-panel/*
!**/nwg-panel/config
!**/nwg-panel/style.css
!**/nwg-panel/common-settings.json

**/helix/runtimes/

**/__pycache__/
**/.ruff_cache/
