/* Variables */

@define-color bg_color @window_fg_color;
@define-color bg_color @theme_bg_color;

@define-color fg_color lighter(@bg_color);
@define-color fg_color @sidebar_bg_color;

@define-color text_color @window_fg_color;
@define-color text_color @theme_text_color;

@define-color border_color @headerbar_border_color;
@define-color border_color darker(@bg_color);

@define-color selected_color @accent_color;
@define-color selected_color mix(@bg_color, @theme_selected_bg_color, 0.5);


window {
  background-color: alpha(@bg_color, 0.9);
  color: @text_color;
}

/* search entry */
entry {
  background-color: @fg_color;
}

button,
image {
  background: none;
  border: none;
}

button:hover {
  background-color: @selected_color;
  border-radius: 12px;
}

/* in case you wanted to give category buttons a different look */
#category-button {
  margin: 0 10px;
  background: @fg_color;
  border-radius: 12px;
}

#pinned-box {
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px dotted gray;
  background: @fg_color;
  border-radius: 12px;
}

#files-box {
  padding: 5px;
  border: 1px dotted gray;
  border-radius: 15px;
}