/* Variables */
@define-color bg_color @window_fg_color;
@define-color bg_color @theme_bg_color;

@define-color fg_color @sidebar_bg_color;
@define-color fg_color lighter(@bg_color);

@define-color text_color @window_fg_color;
@define-color text_color @theme_text_color;

@define-color border_color @headerbar_border_color;
@define-color border_color darker(@bg_color);

@define-color selected_color @accent_color;
@define-color selected_color mix(@bg_color, @theme_selected_bg_color, 0.5);

/* Override
@define-color bg_color #241f31;
@define-color fg_color #3d3846;
@define-color text_color #f6f5f4;
@define-color border_color #000000;
*/

/***** SUGGESTED TO CHANGE CAREFULLY *****/

/* Recommended if panel "height" unset or smaller then your theme default button height */
button {
  margin: 2px
}

/* SwayTaskBar and SwayWorkspaces use custom widgets, that need this and the next name
   to highlight currently focused task / workspace. */
#sway-workspaces,
#sway-workspaces-icon,
#sway-workspaces-name {
  background: @fg_color;
  border-radius: 12px;
}

#task-box-focused {
  background-color: @selected_color;
  border-radius: 12px;
}


/***** MODIFY TO YOUR TASTE *****/

/* Sample button in sample config w/ no background nor border */
#button-custom {
  background: @fg_color;
  color: @text_color;
  border-radius: 12px;
}

/* Top panel in sample config uses this name */
#panel-top {
  background: @bg_color;
  color: @text_color;
  border-bottom: 1px solid @border_color;
}

/* Bottom panel in sample config uses this name */
#panel-bottom {
  background: @bg_color;
  color: @text_color;
  border: 1px solid @border_color;
}

/* Controls window in sample config uses this name */
#controls-overview {
  background: @fg_color;
  color: @text_color;
  border-radius: 12px;
}

#controls-window {
  border: 1px solid @border_color;
  border-radius: 15px;
  background: @fg_color;
  color: @text_color;
}

#controls-window scale value {
  color: @text_color;
}

/* Brightness slider popup window in sample config uses this name */
#brightness-popup {
  border-radius: 15px;
  background: #36364f;
  color: #eeeeee;
}

#brightness-popup box {
  padding: 15px;
}

/* Executors usually behave better in monospace fonts */
#executor-label {
  font-family: monospace
}

#root-executor {
  background: @fg_color;
  border-radius: 12px;
}

/* Clock */

#root-clock {
  font-family: monospace;
  font-size: 16px;
  border-radius: 12px;
  background: @fg_color;
  color: @text_color;
}

#calendar-window {
  background: @fg_color;
  border-radius: 12px;
}

/* Sample executor-weather uses "css-name": "weather" */
#weather {
  font-size: 16px
}

/* dwl-tags module */
#dwl-tag-box {
  padding-top: 4px;
  padding-bottom: 4px
}

#dwl-tag-occupied {
  font-family: monospace;
  color: #eee;
  background-color: #006699;
  padding-left: 3px;
  padding-right: 3px;
}

#dwl-tag-free {
  font-family: monospace;
  color: #eee;
  background-color: rgba (32, 50, 90, 1.0);
  padding-left: 3px;
  padding-right: 3px;
}

#dwl-tag-urgent {
  font-family: monospace;
  color: #eee;
  background-color: #ee6600;
  padding-left: 3px;
  padding-right: 3px;
}

#dwl-tag-selected {
  border: solid 2px;
  border-color: #81a1c1
}

#tray {
  background: @fg_color;
  border-radius: 12px;
}

#playerctl {
  color: @text_color;
}

#playerctl-button {
  background: @fg_color;
  color: @text_color;
}
