// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

// Includes
include "autostart.kdl"
include "devices-input.kdl"
include "devices-output.kdl"
include "layout.kdl"
include "rules.kdl"

include "dms/startup.kdl"

include "binds.kdl"

// Misc
hotkey-overlay {
    skip-at-startup
}
